<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Ajouter un Créneau</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <form (ngSubmit)="addCreneaux()" #creneauxForm="ngForm">
            <div class="row d-flex align-items-center gap-3">

                <div class="col">
                    <mat-label class="f-w-600 m-b-8 d-block">Heure d'ouverture</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput type="time" name="heure_ouverture" [(ngModel)]="newCreneaux.heure_ouverture"
                            required placeholder="Ouverture" />
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-label class="f-w-600 m-b-8 d-block">Heure de fermeture</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput type="time" name="heure_fermeture" [(ngModel)]="newCreneaux.heure_fermeture"
                            required placeholder="Fermeture" />
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-label class="f-w-600 m-b-8 d-block">Début de la pause</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput type="time" name="pause_debut" [(ngModel)]="newCreneaux.pause_debut" required
                            placeholder="Début pause" />
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-label class="f-w-600 m-b-8 d-block">Fin de la pause</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput type="time" name="pause_fin" [(ngModel)]="newCreneaux.pause_fin" required
                            placeholder="Fin pause" />
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-label class="f-w-600 m-b-8 d-block">Jour non travaillé</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput type="date" name="jours_non_travailles"
                            [(ngModel)]="newCreneaux.jours_non_travailles" required
                            placeholder="Sélectionner une date" />
                    </mat-form-field>
                </div>

            </div>

            <!-- Boutons -->
            <div class="m-t-12 d-flex justify-content-end gap-3">
                <button mat-flat-button color="primary" type="submit" [disabled]="creneauxForm.invalid">Ajouter</button>
                <button mat-stroked-button color="warn" type="reset" (click)="resetForm()">Annuler</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
    <mat-card-content>
        <mat-card-title>Liste des Créneaux</mat-card-title>

        <div class="table-responsive">
            <table mat-table [dataSource]="creneaux" class="w-100">

                <!-- Heure d'ouverture -->
                <ng-container matColumnDef="heure_ouverture">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Heure d'ouverture</th>
                    <td mat-cell *matCellDef="let creneau">
                        <ng-container *ngIf="editedCreneau?._id !== creneau._id; else editHeureOuverture">
                            <p>{{ creneau.heure_ouverture }}</p>
                        </ng-container>
                        <ng-template #editHeureOuverture>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput type="time" [(ngModel)]="editedCreneau.heure_ouverture" />
                            </mat-form-field>
                        </ng-template>
                    </td>
                </ng-container>

                <!-- Heure de fermeture -->
                <ng-container matColumnDef="heure_fermeture">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Heure de fermeture</th>
                    <td mat-cell *matCellDef="let creneau">
                        <ng-container *ngIf="editedCreneau?._id !== creneau._id; else editHeureFermeture">
                            <p>{{ creneau.heure_fermeture }}</p>
                        </ng-container>
                        <ng-template #editHeureFermeture>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput type="time" [(ngModel)]="editedCreneau.heure_fermeture" />
                            </mat-form-field>
                        </ng-template>
                    </td>
                </ng-container>

                <!-- Début de la pause -->
                <ng-container matColumnDef="pause_debut">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Début de la pause</th>
                    <td mat-cell *matCellDef="let creneau">
                        <ng-container *ngIf="editedCreneau?._id !== creneau._id; else editPauseDebut">
                            <p>{{ creneau.pause_debut }}</p>
                        </ng-container>
                        <ng-template #editPauseDebut>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput type="time" [(ngModel)]="editedCreneau.pause_debut" />
                            </mat-form-field>
                        </ng-template>
                    </td>
                </ng-container>

                <!-- Fin de la pause -->
                <ng-container matColumnDef="pause_fin">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Fin de la pause</th>
                    <td mat-cell *matCellDef="let creneau">
                        <ng-container *ngIf="editedCreneau?._id !== creneau._id; else editPauseFin">
                            <p>{{ creneau.pause_fin }}</p>
                        </ng-container>
                        <ng-template #editPauseFin>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput type="time" [(ngModel)]="editedCreneau.pause_fin" />
                            </mat-form-field>
                        </ng-template>
                    </td>
                </ng-container>

                <!-- Jour non travaillé -->
                <ng-container matColumnDef="jours_non_travailles">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Jour non travaillé</th>
                    <td mat-cell *matCellDef="let creneau">
                        <ng-container *ngIf="editedCreneau?._id !== creneau._id; else editJoursNonTravailles">
                            <p>{{ creneau.jours_non_travailles | date: 'dd/MM/yyyy' }}</p>
                        </ng-container>
                        <ng-template #editJoursNonTravailles>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput type="date" [(ngModel)]="editedCreneau.jours_non_travailles" />
                            </mat-form-field>
                        </ng-template>
                    </td>
                </ng-container>

                <!-- Actions -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Actions</th>
                    <td mat-cell *matCellDef="let creneau">
                        <ng-container *ngIf="editedCreneau?._id !== creneau._id">
                            <button mat-button color="primary" (click)="editCreneau(creneau)">Modifier</button>
                            <!-- <button mat-button color="warn" (click)="deleteCreneau(creneau._id)">Supprimer</button> -->
                        </ng-container>
                        <ng-container *ngIf="editedCreneau?._id === creneau._id">
                            <button mat-button color="primary" (click)="saveCreneau()">Sauvegarder</button>
                            <button mat-button color="warn" (click)="cancelEdit()">Annuler</button>
                        </ng-container>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>