<mat-card class="cardWithShadow theme-card">
  <div *ngIf="message" [ngClass]="{'success': isSuccess, 'error': !isSuccess}" class="notification">
    {{ message }}
  </div>
  <mat-card-header>
    <mat-card-title class="m-b-0">Prendre un Rendez-vous</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form (ngSubmit)="addRendezVousClient()" #rendezVousForm="ngForm">
      <div class="row d-flex align-items-center gap-3">
        <!-- Véhicule -->
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Véhicule</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select id="id_vehicule" name="id_vehicule" [(ngModel)]="newRendezVousClient.id_vehicule" required>
              <mat-option value="" disabled selected>Sélectionner un véhicule</mat-option>
              <mat-option *ngFor="let vehicule of vehicules" [value]="vehicule._id">
                {{ vehicule.marque }} - {{ vehicule.modele }} ({{ vehicule.immatriculation }})
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Categorie Services -->
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Catégorie Services</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select id="categorie_services" name="categorie_services" multiple
              [(ngModel)]="newRendezVousClient.catServices" required>
              <mat-option *ngFor="let categorie of categorie_services" [value]="categorie._id">
                {{ categorie.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Date -->
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Date</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="picker" id="date_heure" name="date_heure" [(ngModel)]="selectedDate"
              (dateChange)="onDateChange()" required [disabled]="isDateDisabled" [min]="tomorrow" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Créneaux disponibles -->
        <div class="col" *ngIf="creneaux.length > 0">
          <mat-label class="f-w-600 m-b-8 d-block">Créneaux disponibles</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(ngModel)]="selectedCreneau" name="creneau"
              (selectionChange)="combineDateAndCreneau($event.value)">
              <mat-option *ngFor="let creneau of creneaux" [value]="creneau">
                {{ creneau }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="m-t-12 d-flex justify-content-end gap-3">
        <button mat-flat-button color="primary" type="submit" [disabled]="rendezVousForm.invalid">Prendre RDV</button>
        <button mat-stroked-button color="warn" type="reset">Annuler</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<!-- Liste des Rendez-vous -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <mat-card-title>Liste des Rendez-vous</mat-card-title>
    </div>

    <!-- Barre de recherche -->
    <div class="search-bar">
      <mat-form-field appearance="outline">
        <mat-label>Rechercher</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Rendez-vous">
        <button mat-icon-button matSuffix aria-label="Rechercher">
          <mat-icon>search</mat-icon> <!-- Icône de recherche -->
        </button>
      </mat-form-field>
    </div>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- Véhicule -->
        <ng-container matColumnDef="vehicule">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14"> Véhicule </th>
          <td mat-cell *matCellDef="let rdv">
            <p>{{ rdv.id_vehicule.marque}} - {{rdv.id_vehicule.modele}}({{rdv.id_vehicule.immatriculation}}) </p>
          </td>
        </ng-container>

        <!-- categorie Services -->
        <ng-container matColumnDef="categorieServices">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Catégorie Services </th>
          <td mat-cell *matCellDef="let rdv">
            <p *ngFor="let categ of rdv.CategorieServices">{{ categ.description }}</p>
          </td>
        </ng-container>

        <!-- Date & Heure -->
        <ng-container matColumnDef="date_heure">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14" mat-sort-header> Date & Heure </th>
          <td mat-cell *matCellDef="let rdv">
            <p>{{ rdv.date_heure | date:'dd/MM/yyyy HH:mm' }}</p>
          </td>
        </ng-container>

        <!-- Duree -->
        <ng-container matColumnDef="duree">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14"> Duree </th>
          <td mat-cell *matCellDef="let rdv">
            <p>{{ rdv.duree_totale}} min</p>
          </td>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14"> Status </th>
          <td mat-cell *matCellDef="let rdv">
            <p [ngClass]="{
                  'status-upcoming': getStatus(rdv) === 'A venir',
                  'status-past': getStatus(rdv) === 'Déjà passé',
                  'status-ongoing': getStatus(rdv) === 'En cours'
                }">
              <!-- Affichage du texte et symbole -->
              <span *ngIf="getStatus(rdv) === 'A venir'"></span>
              <span *ngIf="getStatus(rdv) === 'Déjà passé'"></span>
              <span *ngIf="getStatus(rdv) === 'En cours'"></span>
              {{ getStatus(rdv) }}
            </p>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [hidePageSize]="true"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
