<mat-card class="cardWithShadow">
    <mat-card-content>
        <mat-card-title>Liste des Réparations</mat-card-title>

        <div class="table-responsive">
            <table mat-table [dataSource]="reparations" class="w-100">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Nº rendez_vous</th>
                  <td mat-cell *matCellDef="let element">{{ element.id_rendez_vous_client._id }}</td>
                </ng-container>

                <ng-container matColumnDef="mecanicien">
                    <th mat-header-cell *matHeaderCellDef> Mécanicien </th>
                    <td mat-cell *matCellDef="let element">{{ element.date_devis}}</td>
                  </ng-container>
              
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Statut </th>
                  <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let reparation">
                        <!-- <button mat-button [routerLink]="['/ui-components/service_client']" 
                                [state]="{ services: element}">
                        Services
                        </button> -->
                        <button *ngIf="reparation.status === 'en_attente'" (click)="demarrerReparation(reparation._id)">Démarrer</button>
                        <button *ngIf="reparation.status === 'en_cours'" (click)="terminerReparation(reparation._id)">Terminer</button>
                        <a [routerLink]="['/reparation', reparation._id]">Détails</a>
                    </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>              

        </div>
    </mat-card-content>
</mat-card>