<mat-card class="cardWithShadow">
    <mat-card-content>
        <mat-card-title>Liste des Services</mat-card-title>

        <div class="table-responsive">
            <table mat-table [dataSource]="services" class="w-100">
                <ng-container matColumnDef="service">
                  <th mat-header-cell *matHeaderCellDef>Nº rendez_vous</th>
                  <td mat-cell *matCellDef="let element">{{ element.id_rendez_vous_client._id }}</td>
                </ng-container>
              
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Statut </th>
                  <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let service">
                        <button *ngIf="service.status !== 'terminee'" (click)="updateServiceStatus(service._id, 'terminee')">Terminer</button>
                    </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>              

        </div>
    </mat-card-content>
</mat-card>