<mat-card class="cardWithShadow">
    <mat-card-content>
        <mat-card-title>Liste des Devis</mat-card-title>
        <!-- Barre de recherche -->
        <div class="search-bar">
          <mat-form-field appearance="outline">
            <mat-label>Rechercher</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Devis">
            <button mat-icon-button matSuffix aria-label="Rechercher">
              <mat-icon>search</mat-icon> <!-- Icône de recherche -->
            </button>
          </mat-form-field>
        </div>

        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort class="w-100">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Nº rendez-vous</th>
                  <td mat-cell *matCellDef="let element">{{ element.id_rendez_vous_client._id }}</td>
                </ng-container>

                <ng-container matColumnDef="date_devis">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date devis </th>
                    <td mat-cell *matCellDef="let element">{{ element.date_devis | date:'dd/MM/yyyy HH:mm' }}</td>
                  </ng-container>
              
                <!-- <ng-container matColumnDef="vehicule">
                  <th mat-header-cell *matHeaderCellDef> Véhicule </th>
                  <td mat-cell *matCellDef="let element">{{ element.vehicule}}</td>
                </ng-container> --> 
              
                <ng-container matColumnDef="montant_total">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant Total </th>
                  <td mat-cell *matCellDef="let element">{{ element.montant_total.$numberDecimal | number}} Ar</td>
                </ng-container>
              
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Statut </th>
                  <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button [routerLink]="['/ui-components/service_client']" 
                                [state]="{ services: element}">
                        Services
                        </button>
 
                    </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>              
            <mat-paginator [pageSize]="5" [hidePageSize]="true"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>