<mat-card class="cardWithShadow">
    <div *ngIf="message" [ngClass]="{'success': isSuccess, 'error': !isSuccess}" class="notification">
        {{ message }}
    </div>
    <mat-card-content>
        <mat-card-title>Liste des Rendez-vous</mat-card-title>
        <!-- Barre de recherche -->
        <div class="search-bar">
            <mat-form-field appearance="outline">
              <mat-label>Rechercher</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Rendez-vous">
              <button mat-icon-button matSuffix aria-label="Rechercher">
                <mat-icon>search</mat-icon> <!-- Icône de recherche -->
              </button>
            </mat-form-field>
          </div>

        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort class="w-100">

                <!-- Client -->
                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef>Client</th>
                    <td mat-cell *matCellDef="let element">{{ element.id_user.nom }}{{ element.id_user.prenom }}</td>
                </ng-container>

                <!-- Date -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">{{ element.date_heure | date:'dd/MM/yyyy HH:mm'}}</td>
                </ng-container>

                <ng-container matColumnDef="duree">
                    <th mat-header-cell *matHeaderCellDef>Duree (minutes)</th>
                    <td mat-cell *matCellDef="let element">{{ element.duree_totale}}</td>
                </ng-container>

                <ng-container matColumnDef="voiture">
                    <th mat-header-cell *matHeaderCellDef>Vehicule</th>
                    <td mat-cell *matCellDef="let element">{{ element.id_vehicule.marque }} {{
                        element.id_vehicule.modele }} ({{ element.id_vehicule.immatriculation }}) {{
                        element.id_vehicule.annee }}</td>
                </ng-container>

                <ng-container matColumnDef="categorieServices">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Catégorie Services </th>
                    <td mat-cell *matCellDef="let element">
                        <p *ngFor="let categ of element.categories">{{ categ.description }}</p>
                    </td>
                </ng-container>

                <!-- Mécanicien -->
                <ng-container matColumnDef="mecanicien">
                    <th mat-header-cell *matHeaderCellDef>Mécanicien</th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="selectedMecanicien[element._id] === undefined">
                            {{ element.id_mecanicien?.nom || 'Non assigné' }}
                        </span>

                        <mat-form-field *ngIf="selectedMecanicien[element._id] !== undefined">
                            <mat-select [(value)]="selectedMecanicien[element._id]">
                                <mat-option *ngFor="let mecano of mecaniciens" [value]="mecano._id">
                                    {{ mecano.nom }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>

                <!-- Actions -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <!-- Afficher "Ajouter mécanicien" uniquement si aucun mécanicien n'est assigné -->
                        <button *ngIf="!element.id_mecanicien" mat-button color="primary"
                            (click)="selectedMecanicien[element._id] = ''" class="black-text">
                            Ajouter mécanicien
                        </button>

                        <!-- Ne pas afficher de bouton si un mécanicien est déjà assigné -->
                        <button *ngIf="element.id_mecanicien === undefined" mat-button color="accent"
                            (click)="updateMecanicien(element._id)" class="black-text">
                            Valider
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{ 'row-red': !row.id_mecanicien }"></tr>
            </table>
            <mat-paginator [pageSize]="5" [hidePageSize]="true"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>