<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Ajouter un Service</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <form (ngSubmit)="addServicesToRendezVous()" #devisForm="ngForm">
            <div class="row d-flex align-items-center gap-3">
                <div class="col">
                    <mat-label class="f-w-600 m-b-8 d-block">Services</mat-label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select id="id_service" name="id_service" [(ngModel)]="selectedServices" multiple required>
                                <mat-option value="" disabled selected>Sélectionner un Service</mat-option>
                                <mat-optgroup *ngFor="let category of groupedServices | keyvalue" [label]="category.key">
                                    <mat-option *ngFor="let service of category.value" [value]="service.id">
                                        {{ service.description }} - {{ service.cout }} Ar
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>
                </div>

            </div>
            <div class="m-t-12 d-flex justify-content-end gap-3">
                <button mat-flat-button color="primary" type="submit" [disabled]="devisForm.invalid">Ajouter</button>
                <button mat-stroked-button color="warn" type="reset">Annuler</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
    <mat-card-content>
        <mat-card-title>Liste des Services</mat-card-title>

        <div class="table-responsive">
            <table mat-table [dataSource]="rendezVousServices" class="w-100">

                <ng-container matColumnDef="categorieServices">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Catégorie Services </th>
                    <td mat-cell *matCellDef="let element">{{element.categoryDescription}}</td>
                </ng-container>

                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Services </th>
                    <td mat-cell *matCellDef="let element">{{element.serviceDescription}}</td>
                </ng-container>

                <ng-container matColumnDef="cout">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Coût </th>
                    <td mat-cell *matCellDef="let element">{{element.serviceCout | number}} Ar</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="total-cost">
                <p><strong>Total :</strong> {{ getTotalCost() | number }} Ar</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>