<div class="d-flex align-items-center justify-content-between">
  <div class="branding"><app-branding></app-branding></div>

  <!-- Bouton de fermeture si `showToggle` est vrai -->
  <a *ngIf="showToggle" href="javascript:void(0)" (click)="toggleMobileNav.emit()">
    <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
  </a>
</div>

<ul>
  <!-- Affiche uniquement les items autorisés -->
  <ng-container *ngFor="let item of filteredNavItems">
    <li *ngIf="canAccess(item)">
      <a [routerLink]="item.route">{{ item.displayName }}</a>
    </li>
  </ng-container>
</ul>