<!-- <div class="row">
  <div class="col-lg-8">
    <app-sales-profit></app-sales-profit>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-12">
        <app-total-followers></app-total-followers>
      </div>
      <div class="col-12">
        <app-total-income></app-total-income>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <app-popular-products></app-popular-products>
  </div>
  <div class="col-lg-4">
    <app-earning-reports></app-earning-reports>
  </div>
  <div class="col-12">
    <app-blog-card></app-blog-card>
  </div>
  <img src="../../../assets/images/accueil.png" style="width: 60%; height: auto;">
</div> -->

<div class="row" style="display: flex; align-items: center;">
  <div style="flex: 1; padding: 20px;">
    <h2>Bienvenue sur notre plateforme !</h2>
    <p>Explorez et profitez de nos services.</p>
  </div>
  <div style="flex: 1; text-align: right;">
    <img src="../../../assets/images/accueil.png" style="width: 100%; height: auto;">
  </div>
</div>