<mat-card class="cardWithShadow theme-card">
  <div *ngIf="message" [ngClass]="{'success': isSuccess, 'error': !isSuccess}" class="notification">
    {{ message }}
  </div>
  <mat-card-header>
    <mat-card-title class="m-b-0">Ajouter un Mécanicien</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form (ngSubmit)="addMecanicien()" #mecanicienForm="ngForm">
      <div class="row d-flex align-items-center gap-3">

        <!-- Nom -->
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Nom</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="text" name="nom" [(ngModel)]="newMecanicien.nom" required placeholder="Nom" />
          </mat-form-field>
        </div>

        <!-- Prénom -->
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Prénom</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="text" name="prenom" [(ngModel)]="newMecanicien.prenom" placeholder="Prénom" />
          </mat-form-field>
        </div>

        <!-- Email -->
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Email</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="email" name="email" [(ngModel)]="newMecanicien.email" required placeholder="Email" />
          </mat-form-field>
        </div>

        <!-- Mot de passe -->
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Mot de passe</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="password" name="mot_de_passe" [(ngModel)]="newMecanicien.mot_de_passe" required
              placeholder="Mot de passe" />
          </mat-form-field>
        </div>

        <!-- Spécialisations -->
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Spécialisation</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select name="specialisations" [(ngModel)]="newMecanicien.specialisations" required multiple>
              <mat-option value="" disabled *ngIf="!newMecanicien.specialisations.length">Sélectionner une
                Spécialisation</mat-option>
              <mat-option *ngFor="let categorie of categories" [value]="categorie._id">
                {{ categorie.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <!-- Boutons -->
      <div class="m-t-12 d-flex justify-content-end gap-3">
        <button mat-flat-button color="primary" type="submit" [disabled]="mecanicienForm.invalid">Ajouter</button>
        <button mat-stroked-button color="warn" type="reset" (click)="resetForm()">Annuler</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Liste des Mécaniciens</mat-card-title>

    <div class="table-responsive">
      <table mat-table [dataSource]="mecaniciens" class="w-100">

        <!-- Nom -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Nom</th>
          <td mat-cell *matCellDef="let mecanicien">
            <ng-container *ngIf="editedMecanicien?._id !== mecanicien._id; else editNom">
              <p>{{ mecanicien.nom }}</p>
            </ng-container>
            <ng-template #editNom>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput [(ngModel)]="editedMecanicien.nom" />
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <!-- Prénom -->
        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Prénom</th>
          <td mat-cell *matCellDef="let mecanicien">
            <ng-container *ngIf="editedMecanicien?._id !== mecanicien._id; else editPrenom">
              <p>{{ mecanicien.prenom }}</p>
            </ng-container>
            <ng-template #editPrenom>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput [(ngModel)]="editedMecanicien.prenom" />
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Email</th>
          <td mat-cell *matCellDef="let mecanicien">
            <ng-container *ngIf="editedMecanicien?._id !== mecanicien._id; else editEmail">
              <p>{{ mecanicien.email }}</p>
            </ng-container>
            <ng-template #editEmail>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput type="email" [(ngModel)]="editedMecanicien.email" />
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <!-- Catégorie -->
        <ng-container matColumnDef="specialisations">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Spécialisation(s)</th>
          <td mat-cell *matCellDef="let mecanicien">
            <ng-container *ngIf="editedMecanicien?._id !== mecanicien._id; else editCategorie">
              <p>
                <!-- Affichage des descriptions de chaque spécialisation -->
                <ng-container *ngFor="let spec of mecanicien.specialisations">
                  {{ spec.categorie_service }}
                </ng-container>
              </p>
            </ng-container>
            <ng-template #editCategorie>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select [(ngModel)]="editedMecanicien.specialisations" multiple>
                  <mat-option *ngFor="let categorie of categories" [value]="categorie._id">
                    {{ categorie.description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>


        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Actions</th>
          <td mat-cell *matCellDef="let mecanicien">
            <ng-container *ngIf="editedMecanicien?._id !== mecanicien._id">
              <button mat-button color="primary" (click)="editMecanicien(mecanicien)">Modifier</button>
              <button mat-button color="warn" (click)="deleteMecanicien(mecanicien._id)">Supprimer</button>
            </ng-container>
            <ng-container *ngIf="editedMecanicien?._id === mecanicien._id">
              <button mat-button color="primary" (click)="saveMecanicien()">Sauvegarder</button>
              <button mat-button color="warn" (click)="cancelEdit()">Annuler</button>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>